.DS_Store
.class
**/**/**/bin
**/**/bin
**/bin
**/**/**/.classpath
**/**/.classpath
**/.classpath
.classpath
**/**/**/.project
**/**/.project
**/.project
.project
**/**/**/target
**/**/target
**/target
target
**/**/**/.cache
**/**/.cache
**/.cache
.cache
